# Opcional, mas recomendado para CI/CD real.
# 1) Crie manualmente um bucket S3 exclusivo para o state do Terraform.
# 2) Copie este arquivo para backend.tf.
# 3) Ajuste bucket, key e region.
# Observação: o bucket de state também consome S3, então mantenha pouco histórico para ficar dentro dos limites do Free Tier.

terraform {
  backend "s3" {
    bucket = "meu-bucket-terraform-state-unico"
    key    = "aws-terraform-rego-portfolio/terraform.tfstate"
    region = "us-east-1"
    encrypt = true
  }
}
