[defaults]
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = roles
inventory = inventory.aws_ec2.yml

[inventory]
enable_plugins = amazon.aws.aws_ec2

[ssh_connection]
# O Pipelining e o uso de PTY ajudam a evitar que o SSM espere por inputs inexistentes
pipelining = True
#ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSMSession --parameters 'portNumber=%p'"
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="sh -c \"aws ssm start-session --target %h --document-name AWS-StartSSMSession --parameters 'portNumber=%p'\""
scp_if_ssh = True
# Adicione esta linha se o erro persistir:
#usetty = True

[privilege_escalation]
become_flags = -H -S -n